@import 'styles.css';


#dsc-product-form-section {
    padding: 20px 0;
}

@media (min-width: 576px) {
    #dsc-product-form-section {
        padding: 40px 0;
    }
}

.dsc-product-form-buttons {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.dsc-product-form-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.dsc-text-area {
    resize: none;
    height: 128px;
    padding-top: 10px;
}